# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform
.idea
*.iml
.build-harness
build-harness
*.ini

*~HEAD
*backup
# Cache objects
packer_cache/

# For built boxes
*.box
personal*
aws-230-300-2*
*.orig
Personal*
