
#SSL additions
ssl.truststore.location=/var/ssl/private/kafka.client.truststore.jks
ssl.truststore.password=REPLACEME
ssl.keystore.location=/var/ssl/private/kafka.client.keystore.jks
ssl.keystore.password=REPLACEME
ssl.key.password=REPLACEME
confluent.controlcenter.streams.ssl.truststore.location=/var/ssl/private/kafka.client.truststore.jks
confluent.controlcenter.streams.ssl.truststore.password=REPLACEME
confluent.controlcenter.streams.ssl.keystore.location=/var/ssl/private/kafka.client.keystore.jks
confluent.controlcenter.streams.ssl.keystore.password=REPLACEME
confluent.controlcenter.streams.ssl.key.password=REPLACEME
confluent.controlcenter.rest.ssl.truststore.location=/var/ssl/private/kafka.client.truststore.jks
confluent.controlcenter.rest.ssl.truststore.password=REPLACEME
confluent.controlcenter.rest.ssl.keystore.location=/var/ssl/private/kafka.client.keystore.jks
confluent.controlcenter.rest.ssl.keystore.password=REPLACEME
confluent.controlcenter.rest.ssl.key.password=REPLACEME

{% for key, value in confluent.control.center.config.items() %}
{{key}}={{value}}
{% endfor %}
