# Maintained by Ansible
bootstrap.servers={% for host in groups['broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{broker.config.port}}{% endfor %}

confluent.controlcenter.streams.security.protocol=SASL_SSL

#SSL additions
ssl.truststore.location=/var/ssl/private/kafka.client.truststore.jks
ssl.truststore.password=REPLACEME
ssl.keystore.location=/var/ssl/private/kafka.client.keystore.jks
ssl.keystore.password=REPLACEME
ssl.key.password=REPLACEME
confluent.controlcenter.streams.ssl.truststore.location=/var/ssl/private/kafka.client.truststore.jks
confluent.controlcenter.streams.ssl.truststore.password=REPLACEME
confluent.controlcenter.streams.ssl.keystore.location=/var/ssl/private/kafka.client.keystore.jks
confluent.controlcenter.streams.ssl.keystore.password=REPLACEME
confluent.controlcenter.streams.ssl.key.password=REPLACEME
confluent.controlcenter.rest.ssl.truststore.location=/var/ssl/private/kafka.client.truststore.jks
confluent.controlcenter.rest.ssl.truststore.password=REPLACEME
confluent.controlcenter.rest.ssl.keystore.location=/var/ssl/private/kafka.client.keystore.jks
confluent.controlcenter.rest.ssl.keystore.password=REPLACEME
confluent.controlcenter.rest.ssl.key.password=REPLACEME


#SASL additions
confluent.controlcenter.streams.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
confluent.controlcenter.streams.security.protocol=SASL_SSL
confluent.controlcenter.streams.sasl.mechanism=GSSAPI
confluent.controlcenter.rest.security.protocol=SASL_SSL
confluent.controlcenter.rest.sasl.mechanism=GSSAPI
sasl.kerberos.service.name=kafka
security.protocol=SASL_SSL
sasl.mechanism=GSSAPI
ssl.client.auth=true


{% for key, value in confluent.control.center.config.items() %}
{{key}}={{value}}
{% endfor %}


confluent.controlcenter.rest.listeners=https://ukdc1-oc-had403.domain.namepp.local:8443


confluent.controlcenter.log.dir=/var/log/control
