
#SSL additions
listeners=https://0.0.0.0:8082
schema.registry.inter.instance.protocol=https

kafkastore.ssl.truststore.location=/var/ssl/private/kafka.client.truststore.jks
kafkastore.ssl.truststore.password=UAgBVML7ltDPaKby3Yaqc7NSlO4y5j
kafkastore.ssl.keystore.location=/var/ssl/private/kafka.client.keystore.jks
kafkastore.ssl.keystore.password=UAgBVML7ltDPaKby3Yaqc7NSlO4y5j
kafkastore.ssl.key.password=UAgBVML7ltDPaKby3Yaqc7NSlO4y5j
kafkastore.security.protocol=SSL

{% for key, value in schema.registry.config.items() %}
{{key}}={{value}}
{% endfor %}
