export KAFKA_OPTS="-Djava.security.auth.login.config={{ zookeeper.jaas_config_file }}"
export KAFKA_LOG4J_OPTS="-Dlog4j.configuration=file:/etc/kafka/zookeeper-log4j.properties"
export KAFKA_HEAP_OPTS="-Xmx1024m -Xms1024m"
export LOG_DIR=/var/log/zookeeper
